{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>CMPUT 404 - Lab 5</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   	<!-- <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
	-->
</head>
<nav>
<div class="page-header">
	<h1>CMPUT404<small>lab5</lab> </h1>
</div>
    <p><a href="{% url 'polls:index' %}">All Questions</a></p>
</nav>
<body>
{% block body %}
{% endblock %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{% static 'js/base.js' %}"></script>
</body>
</html>
